{% extends "base.html.twig" %}

{% block content %}
    <div class="row bg-faded">
        <div class="col-md-6 offset-3 mt-5 mb-5">
            <legend>My Profile</legend>
            {% form_theme form 'bootstrap_3_layout.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary"><i class="fa fa-pencil-square-o"></i> Update</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
