<h3>Welcome, New Shoutee!</h3>
<br>
Hi {{ name }},
<br>

You're successfully registered. To continue, please confirm your email address by clicking the link below
<br>

<a class="btn btn-primary btn-round" href="{{ url('registration_confirm', {confirmationToken: token}) }}">Confirm Email address</a>.
<br><br>

Thanks,
Team Shout
{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('assets/img/apple-icon.png')) }}">