.fixed {
    position: fixed;
    width: 25%;
}
.scrollit {
    float: left;
    width: 71%
}

.shout-caret {
    background-color: transparent;
    border-color: transparent;
    width: 20px;
}

.shout-caret-option {
    background-color: whitesmoke;
}

.shout-main {
    background-color: whitesmoke;
}

.shout-main option {
    border-color: red;
    border-radius: 100px;
}

.btn-drp {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}

.btn-drp:hover {
    background-color: transparent;
    color: red;
    border: none;
}

.btn-drp:focus, .btn-drp.focus {
    -webkit-box-shadow: 0 0 0 0px rgba(204, 204, 204, 0.5);
    box-shadow: 0 0 0 0px rgba(204, 204, 204, 0.5);
}

.btn-drp.disabled, .btn-drp:disabled {
    background-color: #fff;
    border-color: #ccc;
}

.btn-drp:active, .btn-drp.active,
.show > .btn-drp.dropdown-toggle {
    color: #292b2c;
    background-color: transparent;
    background-image: none;
    border: none;
}

.drp-item {
    margin: 5px;
}

.drp-item:hover {
    margin: 0px;
}

body {
    margin: 0;
    background: #000;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
    opacity: .5;
}
.stopfade {
    opacity: .5;
}

#polina {
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    font-weight:100;
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 2rem;
    width: 33%;
    margin:2rem;
    float: right;
    font-size: 1.2rem;
    margin-top: 100px;
}
h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: .3rem;
}
#polina button {
    display: block;
    width: 80%;
    padding: .4rem;
    border: none;
    margin: 1rem auto;
    font-size: 1.3rem;
    background: rgba(255,255,255,0.23);
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s background;
}
#polina button:hover {
    background: rgba(0,0,0,0.5);
}

a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    /*background:rgba(0,0,0,0.5);*/
    padding: .5rem;
    transition: .6s background;
}
/*a:hover{*/
    /*background:rgba(0,0,0,0.9);*/
/*}*/
@media screen and (max-width: 500px) {
    div{width:70%;}
}
@media screen and (max-device-width: 800px) {
    html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
    #bgvid { display: none; }
}