<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 text-center">
            <h5>Filter shout by</h5>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4 offset-md-4 col-sm-12 offset-sm-0">
            <div class="form-group">
                <form>
                    <select class="form-control" name="type" onchange="this.form.submit()">
                        <option value="">None</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}"
                                {% if app.request.get('type') == category.id %} selected {% endif %}
                            >{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>