{% extends "base.html.twig" %}

{% block content %}
    <div class="row">

        <div class="col-md-3">

        </div>

        <div class="col-md-6 bg-faded">
            <div class="mb-3"></div>
            {# NEW SHOUT #}
            {% include 'shout/new_shout_content.html.twig' %}

            {# SHOUT FEED #}
            {% include 'shout/shout_feed_content.html.twig' %}
        </div>

        <div class="col-md-3">
            <div class="mt-5"></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title"><strong>Loudest Shouts of the week</strong></h5>
                </div>
                <div class="panel-content">
                    <div class="list-group">
                        <a href="#" class="list-unstyled">1. Bakit kasi ganun?
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">2. Ang kwento ng lobo
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"><i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">3. San ba ako nagkulang?
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 1234215|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">4. WALANG FOREVER. Hindi ka
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">5. #FafaMhack <br>
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">6. Bakit kasi ganun?
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">7. Ang kwento ng lobo
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"><i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">8. San ba ako nagkulang?
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12312345|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">9. WALANG FOREVER. Hindi ka
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        </a>
                        <a href="#" class="list-unstyled">10. #FafaMhack <br>
                            {#<div style="margin-top: -5px"><span class="badge badge-default mb-1"> <i class="fa fa-bullhorn"></i>{{ 12345|number_format }}</span></div>#}
                        </a>
                    </div>
                </div>
            </div>

            <div class="panel panel-default mt-3">
                <div class="panel-heading">
                    <h5 class="panel-title"><strong>Top advices of the week</strong></h5>
                </div>
                <div class="panel-content">
                    <div class="list-group">
                        <a href="#" class="list-unstyled">1. "Ganto kasi yan kapag nagmh.."</a>
                        <a href="#" class="list-unstyled">2. "Minsan may mga bagay talag.."</a>
                        <a href="#" class="list-unstyled">3. "Bakit pa kasi natin kailan.."</a>
                        <a href="#" class="list-unstyled">4. "Wag mo dapat gawin yun kas.."</a>
                        <a href="#" class="list-unstyled">5. "Ndi dapat natin nilalagay .."</a>
                        <a href="#" class="list-unstyled">6. "Ganto kasi yan kapag nagma.."</a>
                        <a href="#" class="list-unstyled">7. "Minsan may mga bagay talag.."</a>
                        <a href="#" class="list-unstyled">8. "Bakit pa kasi natin kailan.."</a>
                        <a href="#" class="list-unstyled">9. "Wag mo dapat gawin yun kas.."</a>
                        <a href="#" class="list-unstyled">10. "Ndi dapat natin nilalagay .."</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('assets/app/js/reaction.js') }}"></script>
{% endblock %}

