{% extends 'AdminBundle::base.html.twig' %}

{% block title %}
	Delete - User
{% endblock %}

{% block content %}
<div class="row">
{% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{  form_start(form) }}
    {{   form_widget(form) }}
    <button type="submit" class="btn btn-primary"> DELETE USER</button>
    {{  form_end(form) }}

</div>

{% endblock %}
